<app-cabecalho [titulo]="tituloCabecalho"></app-cabecalho>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Titulo Ministração</ion-label>
      <ion-input [(ngModel)]="titulo" label-placement="floating" name="Titulo" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Responsável</ion-label>
      <ion-input [(ngModel)]="responsavel" name="responsavel" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Data e hora</ion-label>
    </ion-item>
    <ion-item>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="data" name="data"></ion-datetime>
    </ion-item>

    <ion-button id="btnAgendar" type="submit" color="primary" class="ion-padding-top"
      expand="block">Agendar</ion-button>
  </form>
</ion-content>