#tableRelatorio {
    // position: fixed;
    // top: 56px;
    min-width: 80%;
    width: 94%;
    margin: 3% 3% 0 3%;
}

ion-title {
    --color: grey;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

app-relatorios {
    display: block;
    position: absolute;
}