<app-cabecalho [titulo]="titulo" [nomeUser]="nomeUsuarioLogado"></app-cabecalho>

<ion-content *ngIf="exibeConteudo" class="ion-padding-top example-content" [scrollEvents]="true">
  <ion-card *ngFor="let evento of objEvento" color="light">
    <ion-chip [outline]="true" [disabled]="true">Próximo culto</ion-chip>
    <ion-card-header>
      <ion-card-title>{{evento.titulo}}</ion-card-title>
      <ion-card-subtitle>{{ formatDate(evento.data) }}</ion-card-subtitle>
    </ion-card-header>

    <a *ngIf="!evento.presenca" href="/tabs/lista-presenca?codEvento={{evento.codEvento}}&modo=novo">
      <ion-icon name="create" size="large"></ion-icon>
    </a>
    <a *ngIf="evento.presenca" href="/tabs/lista-presenca?codEvento={{evento.codEvento}}&modo=editar">
      <ion-icon name="checkmark-done-circle" size="large"></ion-icon>
    </a>
  </ion-card>

  <!-- <ion-card color="light">
    <img alt="Armadilhas da cultura" src="../../../../assets/img/armadilhasdacultura.png" />
    <ion-chip [outline]="true" [disabled]="true">Próximos eventos</ion-chip>
    <ion-card-header>
      <ion-card-title>Direto ao ponto: Armadilhas da cultura</ion-card-title>
      <ion-card-subtitle>17/06/2023 ás 19H</ion-card-subtitle>
    </ion-card-header>

    <ion-button size="small" color="primary">Ver mais</ion-button>
  </ion-card> -->
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button href="/tabs/cadastro-membro">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button href="/tabs/registro-culto">
      <ion-icon name="calendar-number-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>