<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-button *ngIf="!usuarioLogado" href="/login">Login</ion-button>
    <ion-button *ngIf="usuarioLogado" (click)="sairLogin()">Sair</ion-button>
    <ion-buttons slot="end">
      <ion-title *ngIf="usuarioLogado">
        Gerente
      </ion-title>
      <ion-title *ngIf="!usuarioLogado">
        Membro
      </ion-title>
      <ion-img src="../../../../assets/img/igreja betania.png" alt="Logo"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div *ngIf="titulo" class="bg-color-titulo-principal">
  <ion-title>{{titulo}}</ion-title>
</div>