
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/create_mem"></ion-back-button>
      <ion-title>
        Cadastro Membro
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="nome" label-placement="floating" name="nome" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ministério</ion-label>
      <ion-input [(ngModel)]="ministerio" label-placement="floating" name="ministerio" type="text" required></ion-input>
    </ion-item>

    <ion-button type="submit" color="primary" class="ion-padding-top" expand="block">Salvar</ion-button>
  </form>
</ion-content>